@use '../abstracts/variables' as *;
@use '../abstracts/placeholders' as *;

.buy-tickets {
  @extend %padding-sections;
  background-color: $color-background-light;
  &__title {
    @extend %title-light-background;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    @media (max-width: 1290px) {
      gap: 80px;
    }
    img {
      width: 100%;
      max-width: 720px;
      @media (max-width: 1290px) {
        max-width: 700px;
      }
    }
    form {
      min-width: 660px;
      @media (max-width: 1480px) {
        min-width: 450px;
      }
      @media (max-width: 1290px) {
        min-width: 175px;
      }
    }
  }
}
