@use '../abstracts/variables' as *;
@use '../abstracts/placeholders' as *;

.buy-tickets {
  margin: 75px 0;
  background-color: $color-background-light;
  &__title {
    @extend %title-light-background;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    img {
      max-width: 720px;
    }
  }
}
