@use '../abstracts/variables' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/mixins' as *;

.contacts {
  @extend %padding-sections;
  background-color: $color-background-light;
  &__title {
    @extend %title-light-background;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1000px) {
      flex-direction: column;
      gap: 40px;
    }
    img {
      width: 100%;
      max-width: 960px;
      @media (max-width: 1300px) {
        max-width: 694px;
      }
      @media (max-width: 1000px) {
        max-width: 728px;
        margin-bottom: 27px;
      }
    }
  }
  &__info {
    width: 282px;
  }
  &__info-title {
    margin-bottom: 50px;
    font-weight: 500;
    @media (max-width: 1300px) {
      margin-bottom: 35px;
      font-size: 24px;
    }
    @media (max-width: 1000px) {
      margin-bottom: 44px;
      font-size: 20px;
    }
  }
  &__info-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    @media (max-width: 1300px) {
      gap: 15px;
    }
  }
  &__info-adress {
    margin: 0;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 22px;
    color: $color-text-dark;
    &:not(:first-child) {
  @include hover {
    color: $color-link-hover;
  }
}
    &:not(:first-child):active {
      color: $color-link-active;
    }
    @media (max-width: 1300px) {
      font-size: 20px;
    }
    @media (max-width: 1000px) {
      font-size: 18px;
    }
  }
  &__map {
    @media (max-width: 1000px) {
      align-self: center;
    }
  }
}
