@use '../abstracts/variables' as *;
@use '../abstracts/placeholders' as *;

.explore {
  padding: 75px 0 68px 0;
  background-color: $color-background-dark;
  &__wrapper {
    display: flex;
    gap: 60px;
  }
  &__title {
    position: relative;
    margin-bottom: 103px;
    &::after {
      @extend %h2-underline;
    }
  }
  &__image {
    padding-top: 15px;
    width: 100%;
    max-width: 720px;
  }
  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__text {
    margin: 0;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.75;
    color: $color-text-light;
  }
}
