@use '../abstracts/variables' as *;
@use '../abstracts/placeholders' as *;

.footer {
  @extend %padding-sections;
  background-color: $color-background-dark;
  display: flex;
  flex-direction: column;
  gap: 57px;
  @media (max-width: 1100px) {
    padding-top: 63px;
    padding-bottom: 50px;
    gap: 53px;
  }
  @media (max-width: 970px) {
    padding-top: 48px;
    padding-bottom: 38px;
    gap: 40px;
  }
  &__main-wrapper {
    display: flex;
    gap: 145px;
    @media (max-width: 1300px) {
      gap: 100px;
    }
    @media (max-width: 1100px) {
      gap: 40px;
    }
    @media (max-width: 970px) {
      gap: 148px;
    }
  }
  &__main {
    display: flex;
    justify-content: space-between;
    @media (max-width: 970px) {
      flex-direction: column;
      align-items: flex-end;
    }
  }
  &__navigaton {
    max-width: 363px;
    @media (max-width: 970px) {
      max-width: 449px;
      padding-top: 10px;
    }
  }
  &__menu {
    flex-wrap: wrap;
    column-gap: 150px;
    row-gap: 25px;
    text-align: left;
    justify-content: flex-start;
    a {
      @media (max-width: 970px) {
        font-size: 18px;
      }
    }
    li {
      flex: 0 0 calc(50% - 75px);
    }
    li:nth-child(1) {
      order: 1;
    }
    li:nth-child(2) {
      order: 3;
    }
    li:nth-child(3) {
      order: 5;
    }
    li:nth-child(4) {
      order: 2;
    }
    li:nth-child(5) {
      order: 4;
    }
    li:nth-child(6) {
      order: 6;
    }
    @media (max-width: 1300px) {
      column-gap: 100px;
    }
    @media (max-width: 970px) {
      column-gap: 115px;
    }
  }
  &__line {
    width: 100%;
    height: 3px;
    background: $color-footer-line;
  }
  .social-icons {
    display: flex;
    gap: 25px;
    align-items: end;
    @media (max-width: 970px) {
      padding: 51px 89px 0 0;
    }
    &__icon {
      @extend %social-icon;
    }
    &__img {
      position: absolute;
      inset: 0;
      margin: auto;
      background-color: $color-background-dark;
      color: $color-background-light;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: $color-pagination-hover;
      }
    }
  }
  &__credits {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__credit {
    margin: 0;
    font-weight: 200;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0.09em;
    color: $color-text-light;
    transition: all 0.3s ease-in-out;
    &:not(:first-child):hover {
      color: $color-pagination-hover;
      cursor: pointer;
    }
  }
}
