@use '../abstracts/variables' as *;
@use '../abstracts/placeholders' as *;

.gallery {
  @extend %padding-sections;
  background-color: $color-background-dark;
  &__title {
    padding-bottom: 75px;
  }
  &__container {
    position: relative;
    overflow-y: hidden;
    height: 1960px;
  }
  &__inner-container {
    column-count: 3;
    column-gap: 36px;
    img {
      max-width: 456px;
      height: 100%;
      margin-bottom: 18px;
    }
    img:nth-child(1),
    img:nth-child(11) {
      margin-top: 50px;
    }
  }
  &__gradient-wrapper {
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 100%;
    height: 360px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }
}
