@use '../abstracts/variables' as *;

.header {
  position: relative;
  padding: 59px 0 58px;
  background-color: $color-background-dark;
  @media (max-width: 1260px) {
    padding: 49px 0 48px;
  }
  @media (max-width: 880px) {
    padding: 43px 0 34px;
  }
  @media (max-width: 420px) {
    padding: 35px 0 39px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
