@use '../abstracts/variables' as *;

.header {
  padding: 59px 0 58px;
  background-color: $color-background-dark;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
