@use '../abstracts/variables' as *;
@use '../abstracts/placeholders' as *;

.video-journey {
  @extend %padding-sections;
  background-color: $color-background-light;
  &__header-wrapper {
    display: flex;
    align-items: center;
    gap: 115px;
    margin-bottom: 75px;
    @media (max-width: 1100px) {
      display: block;
      margin-bottom: 30px;
    }
  }
  &__title {
    position: relative;
    flex: 0 0 auto;
    color: $color-title-light;
  }
  &__text {
    margin: 0;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.75;
    color: $color-text-dark;
    @media (max-width: 1100px) {
      display: none;
    }
  }
}
