@use '../abstracts/variables' as *;
@use '../abstracts/placeholders' as *;

.visiting {
  margin: 75px 0;
  &__title {
    position: relative;
    margin-bottom: 103px;
    color: $color-title-light;
    &::after {
      @extend %h2-underline;
    }
  }
  &__cards-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 75px;
  }
}
