@use '../abstracts/variables' as *;

.welcome {
  background-color: $color-background-dark;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    @media (max-width: 880px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__content {
    z-index: 2;
    max-width: 600px;
    margin-top: 150px;
    @media (max-width: 1260px) {
      margin-top: 50px;
    }
    @media (max-width: 880px) {
      margin-top: 0;
      text-align: center;
    }
    @media (max-width: 480px) {
      margin-top: 5px;
    }
  }
  &__title {
    @media (max-width: 880px) {
      width: 328px;
    }
    @media (max-width: 480px) {
      width: 248px;
    }
  }
  &__text {
    margin: 25px 0 0;
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 0.07em;
    color: $color-text-light;
    @media (max-width: 1260px) {
      font-size: 24px;
      letter-spacing: 0.08em;
    }
    @media (max-width: 880px) {
      font-size: 20px;
      letter-spacing: 0.1em;
    }
    @media (max-width: 480px) {
      font-size: 16px;
      letter-spacing: 0.12em;
    }
  }
  .slider {
    margin-left: -160px;
    @media (max-width: 880px) {
      margin-top: 50px;
      margin-left: 0;
    }
    @media (max-width: 480px) {
      margin-top: 47px;
    }
  }
  .link-button {
    margin-top: 77px;
    @media (max-width: 1260px) {
      margin-top: 50px;
    }
    @media (max-width: 880px) {
      display: none;
    }
  }
}
