@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.link-button {
  display: inline-block;
  padding: 25px 64px;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.09em;
  text-align: center;
  color: $color-text-light;
  background-color: $color-secondary;
  border-radius: 10px;
  transition: background-color 0.3s ease-in;
  @include hover {
    background-color: $color-link-hover;
  }
  @media (max-width: 1260px) {
    padding: 18px 45px;
    font-size: 20px;
    letter-spacing: 0.1em;
  }
}

.button {
  padding: 12px 38px;
  border: none;
  border-radius: 2px;
  background-color: $color-text-dark;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.09em;
  text-align: center;
  color: $color-text-light;
}
