@use '../abstracts/variables' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/mixins' as *;

.card {
  width: 100%;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include hover {
    .card__title::after {
      width: 100%;
    }
  }
  @media (max-width: 1100px) {
    max-width: 330px;
  }
  @media (max-width: 880px) {
    max-width: 280px;
  }
  @media (max-width: 420px) {
    gap: 9px;
  }
  &__img {
    margin-bottom: 15px;
  }
  &__title {
    position: relative;
    margin-bottom: 12px;
    &::after {
      @extend %h3-underline;
      transition: width 0.3s ease;
    }
    @media (max-width: 420px) {
      margin-bottom: 15px;
    }
    &_long::after {
      @media (max-width: 362px) {
        top: 52px;
      }
    }
  }
  &__text {
    margin: 0;
    font-weight: 200;
    font-size: 22px;
    color: $color-text-dark;
    @media (max-width: 1100px) {
      font-size: 20px;
    }
    @media (max-width: 420px) {
      font-size: 16px;
    }
    &_small {
      font-size: 18px;
      @media (max-width: 1100px) {
        font-size: 16px;
      }
    }
  }
}
