@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.form {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  @media (max-width: 1290px) {
    justify-content: center;
  }
  @media (max-width: 1100px) {
    gap: 80px;
    justify-content: start;
  }
  @media (max-width: 740px) {
    justify-content: center;
    align-items: center;
  }
  &__ticket-type {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @media (max-width: 1290px) {
      display: none;
    }
  }
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__input-block {
    display: flex;
    align-items: center;
    gap: 23px;
    input[type='radio'] {
      appearance: none;
      background: none;
      margin: 0;
      display: block;
      position: relative;
      width: 17px;
      height: 17px;
      border: 2px solid $color-text-dark;
      border-radius: 50%;
      cursor: pointer;
      outline: none;

      &::before {
        content: '';
        position: absolute;
        width: 7px;
        height: 7px;
        margin: auto;
        inset: 0;
        background-color: $color-text-dark;
        border-radius: 50%;
        transform: scale(0);
        transition: transform 0.2s ease-in-out;
      }

      &:checked::before {
        transform: scale(1);
      }
    }
  }
  &__input-text {
    font-weight: 300;
    font-size: 22px;
    color: $color-text-dark;
  }
  &__amount {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 23px;
    @media (max-width: 1290px) {
      align-items: start;
      justify-content: space-between;
      gap: 25px;
    }
    @media (max-width: 1000px) {
      gap: 39px;
    }
    @media (max-width: 740px) {
      align-items: center;
      gap: 24px;
    }
    .form__title {
      text-align: right;
      @media (max-width: 1290px) {
        padding-bottom: 5px;
      }
      @media (max-width: 1000px) {
        padding-bottom: 0;
      }
      @media (max-width: 740px) {
        text-align: center;
      }
      &_total {
        @media (max-width: 740px) {
          padding-top: 16px;
        }
      }
    }
  }
  &__amount-wrapper {
    width: 150px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    @media (max-width: 1290px) {
      width: 175px;
      padding-bottom: 0;
      align-items: start;
    }
    @media (max-width: 740px) {
      gap: 15px;
    }
  }
  &__title_total {
    letter-spacing: 0.06em;
  }
  &__amount-title {
    align-self: flex-start;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 22px;
    color: $color-text-dark;
    @media (max-width: 1290px) {
      padding-bottom: 0;
    }
    @media (max-width: 740px) {
      font-size: 16px;
    }
  }
  &__amount-button {
    padding: 0;
    -webkit-appearance: none;
    appearance: none;
    background-color: $color-background-light;
    border: none;
    font-size: 32px;
    text-align: center;
    color: $color-text-dark;
  }
  &__amount-count {
    border: none;
  }
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type='number'] {
    appearance: none;
    -moz-appearance: textfield;
  }
  &__amount-counter {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid $color-text-dark;
    @media (max-width: 1290px) {
      width: 175px;
      margin-bottom: 18px;
    }
    @media (max-width: 740px) {
      margin-bottom: 4px;
    }
  }
  &__amount-counter:last-of-type {
    @media (max-width: 1290px) {
      margin-bottom: 0;
    }
  }

  &__amount-count {
    width: 24px;
    padding: 10px 0;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
  }
  &__button {
    margin-top: 39px;
    @media (max-width: 1000px) {
      margin-top: 0;
    }
    @media (max-width: 740px) {
      margin-top: 15px;
    }
  }
}
