@use '../abstracts/variables' as *;

.logo {
    &__link {
        display: flex;
        align-items: center;
        gap: 25px;
    }
    &__img {
        width: 49px;
        align-self: start;
    }
}
