@use '../abstracts/variables' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/mixins' as *;

.social-icons {
  display: flex;
  gap: 25px;
  align-items: end;
  @media (max-width: 970px) {
    padding: 51px 89px 0 0;
  }
  @media (max-width: 760px) {
    padding-right: 0;
  }
  @media (max-width: 650px) {
    padding-top: 41px;
    align-self: center;
    gap: 5px;
  }
  &__icon {
    @extend %social-icon;
  }
  &__img {
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: $color-background-dark;
    color: $color-background-light;
    transition: color 0.3s ease-in-out;
    @include hover {
      color: $color-pagination-hover;
    }
  }
}
