@use './variables' as *;

%h2-underline {
  content: '';
  position: absolute;
  top: 115px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $color-secondary;
}

%h3-underline {
  content: '';
  position: absolute;
  top: 45px;
  left: 0;
  width: 68%;
  height: 2px;
  background-color: $color-secondary;
}

%title-light-background {
  position: relative;
  margin-bottom: 103px;
  color: $color-title-light;
  &::after {
    @extend %h2-underline;
  }
}
