$font-family: "Roboto", sans-serif;
$second-family: "Forum", sans-serif;

$color-background-light: hsl(0, 0%, 100%);
$color-text-dark: hsl(0, 0%, 0%);

$color-background-dark: hsl(0, 0%, 1%);
$color-text-light: hsl(0, 0%, 100%);

$color-title-light: hsl(35, 22%, 51%);

$color-link-hover: hsl(35, 22%, 51%);
$color-link-active: hsl(36, 22%, 41%);

$color-secondary: hsl(0, 88%, 24%);
$color-pagination: hsl(35, 47%, 67%);
$color-pagination-hover: hsl(35, 22%, 51%);

$color-text-accent: hsl(35, 42%, 64%);

$color-progress-bar-light: hsl(0, 0%, 77%);

$color-video-control: hsl(0, 0%, 60%);
$color-video-control-active: hsl(0, 0%, 20%);

