/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1 {
  font-family: "Forum", sans-serif;
  font-size: 28px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
}

h2 {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 1.12;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
}

h3 {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: hsl(0, 0%, 0%);
}

h4 {
  font-weight: 700;
  font-size: 28px;
  color: hsl(0, 0%, 0%);
}

.explore__title::after, .contacts__title::after, .buy-tickets__title::after, .visiting__title::after {
  content: "";
  position: absolute;
  top: 115px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: hsl(0, 88%, 24%);
}

.card__title::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  width: 68%;
  height: 2px;
  background-color: hsl(0, 88%, 24%);
}

.contacts__title, .buy-tickets__title, .visiting__title {
  position: relative;
  margin-bottom: 103px;
  color: hsl(35, 22%, 51%);
}
.footer .social-icons__icon {
  position: relative;
  width: 48px;
  height: 48px;
  border: 1px solid hsl(0, 0%, 40%);
  border-radius: 50px;
}
.footer .social-icons__icon:hover {
  cursor: pointer;
  border: 1px solid hsl(35, 22%, 51%);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

*,
::after,
::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: hsl(0, 0%, 0%);
  font-weight: 400;
  scrollbar-gutter: stable;
}

.scroll-block {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

.text__accent {
  color: hsl(35, 42%, 64%);
}

.parallax {
  width: 100%;
  height: 400px;
  background-image: url("/assets/img/parallax.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  padding: 59px 0 58px;
  background-color: hsl(0, 0%, 1%);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.logo__link {
  display: flex;
  align-items: center;
  gap: 25px;
}
.logo__img {
  width: 49px;
  align-self: start;
}

.menu {
  display: flex;
  gap: 55px;
}
.menu a {
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 0.09em;
  color: hsl(0, 0%, 100%);
  transition: all 0.3s ease-in;
}
.menu a:hover {
  color: hsl(35, 22%, 51%);
  cursor: pointer;
}
.menu a:active {
  color: hsl(36, 22%, 41%);
  cursor: pointer;
}

.welcome {
  background-color: hsl(0, 0%, 1%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.welcome__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.welcome__content {
  z-index: 2;
  max-width: 600px;
  margin-top: 150px;
}
.welcome__text {
  margin: 25px 0 0;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 0.07em;
  color: hsl(0, 0%, 100%);
}
.welcome .slider {
  margin-left: -160px;
}
.welcome .link-button {
  margin-top: 77px;
}

.slider {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.slider__images {
  display: flex;
  max-width: 5000px;
}
.slider__slide {
  flex: 0 0 100%;
  display: none;
  width: 100%;
  max-width: 1000px;
  padding-top: 75%;
  border: 1px solid #000000;
  background-size: cover;
  background-position: center;
}
.slider__slide_1 {
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url("../assets/img/welcome-slider/1.jpg");
}
.slider__slide_2 {
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url("../assets/img/welcome-slider/2.jpg");
}
.slider__slide_3 {
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url("../assets/img/welcome-slider/3.jpg");
}
.slider__slide_4 {
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url("../assets/img/welcome-slider/4.jpg");
}
.slider__slide_5 {
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url("../assets/img/welcome-slider/5.jpg");
}
.slider__slide img {
  width: 100%;
  height: auto;
  display: block;
}
.slider__slide_active {
  display: block;
}
.slider__controls {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 55px;
  max-width: 600px;
  margin-top: -60px;
  padding: 40px 74px;
  background-color: hsl(0, 0%, 1%);
  color: hsl(0, 0%, 100%);
}
.slider__numbers {
  display: flex;
  gap: 10px;
  font-size: 22px;
  line-height: 1.82;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
}
.slider__pagination {
  display: flex;
  gap: 25px;
}
.slider__control {
  width: 16px;
  height: 16px;
  background-color: hsl(0, 0%, 100%);
  transition: background-color 0.3s ease-in;
}
.slider__control:hover {
  background-color: hsl(35, 22%, 51%);
  cursor: pointer;
}
.slider__control_active {
  background-color: hsl(35, 47%, 67%);
}
.slider__arrow-wrapper {
  display: flex;
  gap: 20px;
}
.slider__arrow {
  width: 30px;
  height: 30px;
  transition: background-color 0.3s ease;
}
.slider__arrow:hover {
  background-color: hsl(35, 22%, 51%);
  cursor: pointer;
}
.slider__arrow_left {
  background-color: hsl(0, 0%, 100%);
  -webkit-mask: url("/assets/icons/arrow-left.svg") no-repeat center/contain;
  mask: url("/assets/icons/arrow-left.svg") no-repeat center/contain;
}
.slider__arrow_right {
  background-color: hsl(0, 0%, 100%);
  -webkit-mask: url("/assets/icons/arrow-right.svg") no-repeat center/contain;
  mask: url("/assets/icons/arrow-right.svg") no-repeat center/contain;
}

.link-button {
  display: inline-block;
  padding: 25px 64px;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.09em;
  text-align: center;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 88%, 24%);
  border-radius: 10px;
  transition: background-color 0.3s ease-in;
}
.link-button:hover {
  background-color: hsl(35, 22%, 51%);
}

.button {
  padding: 12px 38px;
  border: none;
  border-radius: 2px;
  background-color: hsl(0, 0%, 0%);
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.09em;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.visiting {
  margin: 75px 0;
  background-color: hsl(0, 0%, 100%);
}
.visiting__cards-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 75px;
}

.card {
  width: 100%;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card:hover .card__title::after {
  width: 100%;
}
.card__img {
  margin-bottom: 15px;
}
.card__title {
  position: relative;
  margin-bottom: 12px;
}
.card__title::after {
  transition: width 0.3s ease;
}
.card__text {
  margin: 0;
  font-weight: 200;
  font-size: 22px;
  color: hsl(0, 0%, 0%);
}
.card__text_small {
  font-size: 18px;
}

.explore {
  padding: 75px 0 68px 0;
  background-color: hsl(0, 0%, 1%);
}
.explore__wrapper {
  display: flex;
  gap: 60px;
}
.explore__title {
  position: relative;
  margin-bottom: 103px;
}
.explore__image {
  padding-top: 15px;
  width: 100%;
  max-width: 720px;
}
.explore__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.explore__text {
  margin: 0;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.75;
  color: hsl(0, 0%, 100%);
}

.video-journey {
  margin: 75px 0;
  background-color: hsl(0, 0%, 100%);
}
.video-journey__header-wrapper {
  display: flex;
  align-items: center;
  gap: 115px;
  margin-bottom: 75px;
}
.video-journey__title {
  position: relative;
  flex: 0 0 auto;
  color: hsl(35, 22%, 51%);
}
.video-journey__text {
  margin: 0;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.75;
  color: hsl(0, 0%, 0%);
}

.video-pleer {
  width: 100%;
  max-width: 1440px;
}
.video-pleer img {
  display: block;
}
.video-pleer__controls {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 27px 30px;
  height: 85px;
  background-color: hsl(0, 0%, 1%);
}
.video-pleer__progress {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: linear-gradient(to right, hsl(0, 88%, 24%) 0%, hsl(0, 88%, 24%) 54%, hsl(0, 0%, 77%) 54%, hsl(0, 0%, 77%) 100%);
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
}
.video-pleer__progress_video {
  width: 929px;
}
.video-pleer__progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
}
.video-pleer__progress::-moz-range-thumb {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
}
.video-pleer__progress_volume {
  width: 155px;
}
.video-pleer__play {
  cursor: pointer;
}
.video-pleer__volume {
  cursor: pointer;
}
.video-pleer__fullscreen {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.video-pleer__fullscreen svg path {
  fill: hsl(0, 0%, 70%);
  transition: fill 0.3s ease;
}
.video-pleer__fullscreen:hover svg path {
  fill: hsl(0, 0%, 60%);
}

.video-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.video-block__pleers-wrapper {
  display: flex;
  gap: 42px;
}
.video-block__controls {
  display: flex;
  gap: 20px;
}
.video-block__control {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: hsl(0, 0%, 60%);
}
.video-block__control:hover {
  background-color: hsl(0, 88%, 24%);
  cursor: pointer;
}
.video-block__control_active {
  background-color: hsl(0, 0%, 20%);
}
.video-block__arrow {
  width: 10px;
  height: 12px;
  transition: background-color 0.3s ease;
}
.video-block__arrow:hover {
  background-color: hsl(0, 88%, 24%);
  cursor: pointer;
}
.video-block__arrow_right {
  background-color: hsl(0, 0%, 60%);
  -webkit-mask: url("/assets/icons/arrow-right-video.svg");
  mask: url("/assets/icons/arrow-right-video.svg");
}
.video-block__arrow_left {
  background-color: hsl(0, 0%, 60%);
  -webkit-mask: url("/assets/icons/arrow-left-video.svg");
  mask: url("/assets/icons/arrow-left-video.svg");
}

.gallery {
  background-color: hsl(0, 0%, 1%);
}
.gallery__title {
  padding: 75px 0;
}
.gallery__container {
  position: relative;
  overflow-y: hidden;
  height: 1960px;
}
.gallery__inner-container {
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 36px;
       column-gap: 36px;
}
.gallery__inner-container img {
  max-width: 456px;
  height: 100%;
  margin-bottom: 18px;
}
.gallery__inner-container img:nth-child(1),
.gallery__inner-container img:nth-child(11) {
  margin-top: 50px;
}
.gallery__gradient-wrapper {
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.buy-tickets {
  margin: 75px 0;
  background-color: hsl(0, 0%, 100%);
}
.buy-tickets__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.buy-tickets__wrapper img {
  max-width: 720px;
}

.form {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}
.form__ticket-type {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.form__input-block {
  display: flex;
  align-items: center;
  gap: 23px;
}
.form__input-block input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  margin: 0;
  display: block;
  position: relative;
  width: 17px;
  height: 17px;
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}
.form__input-block input[type=radio]::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  margin: auto;
  inset: 0;
  background-color: hsl(0, 0%, 0%);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}
.form__input-block input[type=radio]:checked::before {
  transform: scale(1);
}
.form__input-text {
  font-weight: 300;
  font-size: 22px;
  color: hsl(0, 0%, 0%);
}
.form__amount {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 23px;
}
.form__amount .form__title {
  text-align: right;
}
.form__amount-wrapper {
  width: 150px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}
.form__title {
  letter-spacing: 0.06em;
}
.form__amount-title {
  align-self: flex-start;
  padding-bottom: 5px;
  font-weight: 300;
  font-size: 22px;
  color: hsl(0, 0%, 0%);
}
.form__amount-button {
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: hsl(0, 0%, 100%);
  border: none;
  font-size: 32px;
  text-align: center;
  color: hsl(0, 0%, 0%);
}
.form__amount-count {
  border: none;
}
.form input[type=number]::-webkit-outer-spin-button,
.form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.form input[type=number],
.form input[type=number]:hover,
.form input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}
.form__amount-counter {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 3px solid hsl(0, 0%, 0%);
}
.form__amount-count {
  width: 24px;
  padding: 10px 0;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
}
.form__button {
  margin-top: 39px;
}

.contacts {
  margin: 75px 0;
  background-color: hsl(0, 0%, 100%);
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
.contacts__wrapper img {
  max-width: 960px;
}
.contacts__info {
  width: 282px;
}
.contacts__info-title {
  margin-bottom: 50px;
  font-weight: 500;
}
.contacts__info-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contacts__info-adress {
  margin: 0;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 22px;
  color: hsl(0, 0%, 0%);
}
.contacts__info-adress:not(:first-child):hover {
  color: hsl(35, 22%, 51%);
}
.contacts__info-adress:not(:first-child):active {
  color: hsl(36, 22%, 41%);
}

.footer {
  padding: 75px 0 50px;
  background-color: hsl(0, 0%, 1%);
  display: flex;
  flex-direction: column;
  gap: 57px;
}
.footer__main-wrapper {
  display: flex;
  gap: 145px;
}
.footer__main {
  display: flex;
  justify-content: space-between;
}
.footer__navigaton {
  max-width: 363px;
}
.footer__menu {
  flex-wrap: wrap;
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 25px;
  text-align: left;
  justify-content: flex-start;
}
.footer__menu li {
  flex: 0 0 calc(50% - 75px);
}
.footer__menu li:nth-child(1) {
  order: 1;
}
.footer__menu li:nth-child(2) {
  order: 3;
}
.footer__menu li:nth-child(3) {
  order: 5;
}
.footer__menu li:nth-child(4) {
  order: 2;
}
.footer__menu li:nth-child(5) {
  order: 4;
}
.footer__menu li:nth-child(6) {
  order: 6;
}
.footer__line {
  width: 100%;
  height: 3px;
  background: hsl(0, 0%, 40%);
}
.footer .social-icons {
  display: flex;
  gap: 25px;
  align-items: end;
}
.footer .social-icons__img {
  position: absolute;
  inset: 0;
  margin: auto;
  background-color: hsl(0, 0%, 1%);
  color: hsl(0, 0%, 100%);
  transition: color 0.3s ease-in-out;
}
.footer .social-icons__img:hover {
  color: hsl(35, 22%, 51%);
}
.footer__credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__credit {
  margin: 0;
  font-weight: 200;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.09em;
  color: hsl(0, 0%, 100%);
  transition: all 0.3s ease-in-out;
}
.footer__credit:not(:first-child):hover {
  color: hsl(35, 22%, 51%);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */