@use '../abstracts/variables' as *;

h1 {
    font-family: $second-family;
    font-size: 28px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: $color-text-light;
    font-weight: 400;
}

h2 {
    font-family: $second-family;
    font-weight: 400;
    font-size: 80px;
    line-height: 112%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color-text-light;
}
